@tailwind base;
@tailwind components;

/* 
#navbar {
  background: transparent;
  padding: 90px 10px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: 0.4s;
}
*/
header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color .5s ease;
  z-index: 1000;
}

.nav{
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: height .5s ease;
}

.navbrand{
  @apply flex pt-20 pl-11;
}

.navbarbutton{
  @apply text-white hover:text-eatis-secondary px-3 py-2 font-bold ;
}

.navbaricon{
  @apply hover:text-eatis-secondary h-12 w-12 fill-current text-white;
}

 /*Apply styles after scroll .navbar {
  @apply top-0 fixed w-full;
  transition: 0.4s;
  }
  */

/*Apply styles after scroll*/
.scrolling-active{
  @apply shadow-xl bg-white;
}

.scrolling-active .nav{
  height: 8rem;
}

.scrolling-active .navbrand svg{
  @apply  text-black;
}

.scrolling-active .navbarbutton{
  @apply text-eatis-warning hover:text-gray-200 px-3 py-2 rounded-md font-bold;
}

.scrolling-active .navbaricon{
  @apply text-eatis-secondary hover:text-gray-200 h-12 w-12 fill-current;
}

/*Apply styles after scroll end*/

@tailwind utilities;