@tailwind base;
@tailwind components;

html {
  scroll-behavior: smooth; 
}

header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color .4s ease;
  z-index: 1000;
}

.navbar{
  @apply flex items-center py-8 px-4 flex-wrap;
}
.lists{
  @apply py-2 px-2 text-white font-semibold uppercase hover:text-eatis-secondary flex lg:inline-flex transition duration-150 ease-in-out;
}

.button{
  @apply font-bold px-4 py-2 inline-flex bg-white hover:bg-eatis-primary text-eatis-primary hover:text-white border-b-4 border-eatis-primary lg:ml-4 transition duration-150 ease-in-out;
}

.logo{
  @apply fill-current text-white flex;
  width: 160px;
}

.menutoggler{
  @apply h-8 w-8 inline-flex items-center justify-center text-white md:hidden ml-auto;
}
/*Apply styles after scroll*/
.scrolling-active{
  @apply shadow-xl bg-white;
}

.scrolling-active .navbar{
  @apply flex items-center py-2 px-4 flex-wrap;
  transition: padding 0.4s linear;
}

.scrolling-active .lists{
  @apply py-2 text-gray-700 hover:text-gray-200 flex lg:inline-flex;
}

.scrolling-active .button{
  @apply bg-eatis-warning text-white hover:bg-gray-100 border-gray-100 hover:text-eatis-primary hover:border-eatis-primary transition duration-150 ease-in-out;
}

.scrolling-active .logo{
  @apply fill-current text-black flex;
  transition: background-color .4s ease;
  width: 130px;
  transition: width .4s ease;
}

.scrolling-active .menutoggler{
  @apply inline-flex items-center justify-center text-black md:hidden ml-auto;
}

@tailwind utilities;